body {
    font-size: 15px;
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div1 {
    color:red;
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    color: blue;
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    color: green;
    width: 200px;
    height: 200px;
    border: 2px solid green;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div4 {
    color: pink;
    width: 200px;
    height: 200px;
    border: 2px solid pink;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}